/* Fonts */
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf); 
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Shrikhand';
    src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf);
}

* {
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
}

/* Règle générale */
* {
    box-sizing: border-box;
    margin: 0;
}

.home_body {
    background-color: $color-fond;
    font-size: 20px;
}

h2 {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 28px;
}

h4 {
    font-family: 'Shrikhand', sans-serif;
    padding: 15px 0;
    font-size: 20px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: $color-police-light;
    padding: 0;
}


/* Logo */
.header_logo {
    display: flex;
    justify-content: center;
    background-color: $color-fond-light;
    padding: 15px;
    .logo_img {
        width: 45%;
    }
    .fas{
        color: black;
        display: flex;
        /*align-items: center;*/
        font-size: 20px;
        margin: 0rem 1.85rem;
        position: absolute;
        top: 20px;
        left: -10px;
    }
}

/* Footer */ 
footer {
    @include footer;
}