$color-primary: #9356DC;
$color-primary-light: lighten(#9356DC, 5%);
$color-secondary: #FF79DA;
$color-secondary-light: lighten(#FF79DA, 5%);
$color-tertiary: #99E2D0;
$color-fond: #EFEFEF;
$color-fond-light: #F8F8F8;
$color-fond-footer: #3D3D3D;
$color-research: #EAEAEA;
$color-police-light: #F8F8F8;

/*Media queries*/
$pc: "only screen and (min-width: 500px)";