$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-fond: #EFEFEF;
$color-fond-light: #F8F8F8;
$color-fond-footer: #3D3D3D;
$color-research: #EAEAEA;
$color-police-light: #F8F8F8;
