/* Fonts */
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf); 
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Shrikhand';
    src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf);
}

* {
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
}

/* Règle générale */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
a {
    text-decoration: none;
    color: $color-police-light;
    padding: 0;
}

/* Home */
h2 {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 28px;
}

/* Logo */
.header_logo {
    display: flex;
    justify-content: center;
    padding: 15px;
    .img_logo {
        width: 40%;
    }
    .fas{
        color: black;
        display: flex;
        font-size: 20px;
        margin: 0rem 1.85rem;
        position: absolute;
        top: 20px;
        left: -10px;

        @media #{$pc} {
            display: flex;
            align-items: center;
            position: relative;
            font-size: 30px;
            top:0;
            padding: 16px 20px;
            
        }
    }
}

/* Logo Footer */
h4 {
    font-family: 'Shrikhand', sans-serif;
    padding: 15px 0;
    font-size: 20px;
    font-weight: lighter;
}

/* Footer */ 
footer {
    background-color: $color-fond-footer;
    color: $color-police-light;
    display: flex;
    flex-direction: column;
    padding: 10px 0 40px 15px;
    line-height: 30px;
    font-size: 16px;
    .fas {
        @include size-icon;
        margin-right: 10px;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    
    @media #{$pc} {
        h4{
            display: flex;
            justify-content: center;
            font-size: 30px;
        }
        font-size: 20px;
    }
}