/* Btn */
@mixin interior-btn {
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bolder;
    background: linear-gradient($color-secondary, $color-primary);
    color: $color-fond-light;
    cursor: pointer;  
        &:hover {
            background: linear-gradient($color-secondary-light, $color-primary-light);
            box-shadow: gray 0px 5px 10px 0px;
        }
}
@mixin border-btn {
    border-radius: 25px;
    border: none;
    box-shadow: gray 0px 5px 10px 0px;
    background-color: $color-fond;
}

/* Icon */ 
@mixin size-icon {
    width: 20px;
    height: 20px;
}

/* Heart hover */
@mixin like-hover {
    background-image: linear-gradient($color-primary, $color-secondary);
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 350ms;
    transform: scale(1);
    transform-origin: center;
    &:hover { 
        transform: scale(1.11);
        opacity: 1;
    }   
}

/* Footer */ 
@mixin footer {
    background-color: $color-fond-footer;
    color: $color-police-light;
    display: flex;
    flex-direction: column;
    padding: 10px 0 40px 15px;
    line-height: 30px;
    font-size: 16px;
    .fas {
        @include size-icon;
        margin-right: 10px;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    
    @media #{$pc} {
        h4{
            display: flex;
            justify-content: center;
            font-size: 30px;
        }
        font-size: 20px;
    }
}

/* Box shadow*/
@mixin box-shadow {
    box-shadow: #E0E0E0 0px 5px 10px 0px;
}